@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


:root{
--Primary-Color: #000814;
--Secondary-Color: #c23530;
--Accent-Color: #c23530; 
--Text-Color: #ede7f1;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--Text-Color);
}

body{
    background: var(--Primary-Color) !important;
    font-family: 'Poppins' !important;
}

.text{
    position: absolute;
    top: 75%;
    left: 33%;
}

