@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/*

--> Primary Color: #DDDDDD
--> Secondary Color: #F9F3F3
--> Accent Color: #F25287 

*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #DDDDDD !important;
    font-family: 'Poppins' !important;
}

.item-text{
    font-weight: bold !important;
    transition: 0.2s ease-in-out !important;
}

.item-text:hover{
    color: #F25287 !important;
}
