@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

/*

--> Primary Color: #DDDDDD
--> Secondary Color: #F9F3F3
--> Accent Color: #F25287 

*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(224, 224, 224);
    font-family: 'Maven Pro';
}

.container {
    display: flex;
}

.text{
    position: absolute;
    top: 45%;
    left: 50%;
    border: 1px solid black;
    border-radius: 10px;
    height: 70px;
    padding: 20px;
    transition: 0.3s ease-out;
    text-align: center;
}

.text:hover{
    background-color: black;
    color: white;
}

.image{
    position: absolute;
    top: 20%;
    left: 10%;
}